<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchasing</title>
</head>
<style>
</style>
<body>
    <!-- load header from partials -->
    {{> 'partials/header' }}
    <h1>Purchasing Dashboard</h1>
    <h3>Level: {{permission_val}}</h3>
    <a href="/dashboard">Back to Dashboard</a>
    {{> 'partials/footer' }}
</body>
</html>